{% extends 'layouts/main_layout.html' %}

{% block title %}{{article.title}}{% endblock %}

{% block content %}
    <h1>{{article.title}}</h1>
    <h2>{{article.subtitle}}</h2>
    <div>By {{author.name}} {{article.published_at}}</div>
    {% if tags.count > 0 %}
        <div>Tags:
            {% for tag in tags %}
                {{ tag.title }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="mt-4">{{article.body}}</div>

    <h3>Comments</h3>
    {% for comment in comments %}
        <p>{{ comment.body }}</p>
    {% endfor %}
    <h4>Add Comment</h4>
    <form action="{% url 'comment' article.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="comment_body"></input>
        <input type="submit"></input>
    </form>
{% endblock %}
