{% extends 'layouts/base_layout.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">Welcome to my new blog, I made it using Python and Django.</p>

        <h2 class="mt-5 mb-4">Latest Articles</h2>
        <div class="list-group">
            {% for article in articles %}
                <a href="{% url 'article' article_id=article.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{ article.title }}
                    <span class="badge badge-primary badge-pill">Read more</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

