<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container, .container-fluid {
            max-width: 1200px; /* Adjust as needed */
        }
        #content {
            background-color: white;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .navbar-nav.ml-auto {
            margin-left: auto;
        }
    </style>
    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Duncan Miller</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Blog</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                            <a class="nav-link" href="{% url 'users:index' %}">Account</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content" class="container">
        {% block content %}{% endblock %}
    </div>

    <footer class="bg-light text-center mt-4">
        <div class="container p-4">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="https://linkedin.com/in/duncantmiller" class="text-dark">About</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/duncantmiller/django_blog" class="text-dark">Source Code</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:duncan@openshiro.com" class="text-dark">Contact</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://botdevs.ai" class="text-dark">BotDevs.ai</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://openshiro.com" class="text-dark">OpenShiro</a>
                        </li>
                    </ul>
                    <div class="social-links mt-2">
                        <a href="https://linkedin.com/in/duncantmiller" class="me-3 text-dark" style="text-decoration: none !important;">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://github.com/duncantmiller" class="me-3 text-dark" style="text-decoration: none !important;">
                            <i class="bi bi-github"></i>
                        </a>
                        <a href="mailto:duncan@openshiro.com" class="text-dark" style="text-decoration: none !important;">
                            <i class="bi bi-envelope-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © {{ current_year }} Duncan Miller
        </div>
    </footer>
</body>
</html>

